div{
    /* box-sizing: border-box; */
    height: 12px;
    width: 33px;
    background-color: red;
    padding-left: 1.5px;
    padding-bottom: 1.2px;
    padding-right: 1.2px;
    padding-top: 1.5px;
    border-style: solid;
    border-width: 3px 2px 3px 2px;

}