*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.stick{
    width: 6px;
    height: 300px;
    background-color: #5ea277;
    border: 2px solid rgb(16, 20, 17);
    margin: 0 auto;
    margin-top: 5em;

}
.kadai{

    width: 3px;
    height: 70px;
    background-color: #8b8f8c;
 margin: 0 auto;
 border: 1px solid rgb(88, 93, 92);
    margin-top: 6em;
    position: relative;
    top: -6em;

}
.fire-sign{

    width: 6px;
    height: 10px;
    border-radius: 30px;
    background-color: red;
    position: relative;
    top: -10px;
      left: -1.5px;
    
    

    
}
.dhua {
    width: 6px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: smoke 3s ease-in-out infinite;

    /* border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: smoke 3s ease-in-out infinite; */
}


.dhua:nth-child(1) {
    animation-delay: 0s;
}
.dhua:nth-child(2) {
    animation-delay: 0.8s;
}
.dhua:nth-child(3) {
    animation-delay: 1.6s;
}
.dhua:nth-child(4) {
    animation-delay: 2.4s;
}

@keyframes smoke {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }

    20% {
        opacity: 0.6;
    }

    50% {
        transform: translateY(-30px) scale(1);
        opacity: 0.4;
    }

    100% {
        transform: translateY(-60px) scale(1.3);
        opacity: 0;
    }
}
