*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
height: 150px;
width: 150px;
border: 1px solid black;
display: flex;
justify-content: center;


}
.child{
  
height: 50px;
width: 60px;
border: 1px solid black;
background-color:rgb(121, 166, 73);



}